<div {...Astro.props} class="project-card">
  <a href="#">
    <img class="object-cover w-full h-auto" src="" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Thinking about it</h5>
      <p class="mb-3 font-normal text-gray-400">Reservado para un proyecto a futuro.</p>
    </div>
  </a>
</div>
