<div {...Astro.props} class="project-card">
  <a href="#">
    <img class="object-cover w-full h-auto" src="/bookcase.png" alt="bookcase_logo">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">Bookcase</h5>
      <p class="mb-3 font-normal text-gray-400">Aplicación de CLI para llevar un control de las lecturas. Práctica de TDD</p>
    </div>
  </a>
</div>
