---
import Bookcase from './Bookcase.astro'
import ShiftProject from './ShiftProject.astro'
import ThinkingAboutIt from './ThinkingAboutIt.astro'
import Vidsnap from './Vidsnap.astro'

---
<h2 id="Projects" class="mt-16 text-3xl">Proyectos</h2>
<h3 class="text-l">(Próximamente)</h3>
<div class="mt-8 mb-2 flex flex-col gap-10 md:grid md:grid-flow-row md:grid-cols-12 md:gap-4 blur-lg">
  <ShiftProject class="custom-card" />
  <Bookcase class="small-card" />
  <ThinkingAboutIt class="small-card" />
  <Vidsnap class="custom-card" />
</div>

<style>
  .custom-card {
    @apply col-span-7 flex flex-col items-center border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 border-gray-700 bg-sky-900 hover:bg-gray-700 transition;
  }

  .small-card {
    @apply col-span-5 flex flex-col items-center border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 border-gray-700 bg-transparent hover:bg-gray-700 transition;;
  }
</style>

