<div {...Astro.props} class="project-card justify-center">
  <a href="#">
    <img class="object-cover w-full h-64" src="/camera.png" alt="">
    <div class="flex flex-col justify-between p-4 leading-normal">
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-white">VidSnap</h5>
      <p class="mb-3 font-normal text-gray-400">Aplicación Web para grabar la pantalla en tiempo real.</p>
    </div>
  </a>
</div>
