---
import Description from '../components/Description.astro'
import Experiences from '../components/Experiences.astro'
import Footer from '../components/Footer.astro'
import Layout from '../layouts/Layout.astro';
import Projects from '../components/projects/Projects.astro';
import Technologies from '../components/Technologies.astro'
---

<Layout title="Tomás Arregui Bellino - Backend Developer">
  <main class="2xl:ml-64 lg:flex lg:flex-col lg:items-center">
    <section class="mt-8 lg:flex lg:flex-col lg:relative lg:w-[792px] lg:text-pretty">
      <h1 id="About" class="text-[1.65rem] sm:text-4xl font-bold">Tomás Arregui Bellino</h1>
      <h2 class="text-lg sm:text-2xl text-white/80">Backend Developer</h2>

      <Technologies/>
      <Description/>
      <Experiences/>
      <Projects/>
      <Footer/>
    </section>
  </main>
</Layout>
