---
import Description from '../components/Description.astro'
import Experiences from '../components/Experiences.astro'
import Technologies from '../components/Technologies.astro'
import Layout from '../layouts/Layout.astro';
---

<Layout title="Tomás Arregui Bellino - Backend Developer">
  <main class="w-full flex flex-col items-center">
    <section class="flex flex-col relative mt-28 w-[792px] text-pretty">
      <h1 class="text-5xl font-bold">Tomás Arregui Bellino</h1>
      <h2 class="text-2xl text-white/80">Backend Developer</h2>

      <Technologies/>
      <Description/>
      <Experiences/>
  </main>
</Layout>
