---
import Linkedin from '../icons/Linkedin.astro';
import Github from '../icons/Github.astro';
import Youtube from '../icons/Youtube.astro';
import Gmail from '../icons/Gmail.astro';
---

<footer class="mt-10 p-6 rounded-lg shadow m-4 flex justify-center">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col items-center sm:flex-row sm:justify-between">

    <span class="text-sm text-gray-400 sm:text-center">© 2024. All Rights Reserved</span>
    <ul class="flex mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0 gap-4  2xl:hidden ">
      <li>
        <Linkedin class="size-6"/>
      </li>
      <li>
        <Github class="size-6"/>
      </li>
      <li>
        <Gmail class="size-6"/>
      </li>
      <li>
        <Youtube class="size-6"/>
      </li>
    </ul>
  </div>
</footer>
