---
import Github from '../icons/Github.astro';
import Gmail from '../icons/Gmail.astro';
import Linkedin from '../icons/Linkedin.astro';
import SocialMedia from './SocialMedia.astro';
import Youtube from '../icons/Youtube.astro';
---

<footer class="mt-10 p-6 rounded-lg shadow m-4 flex justify-center">
  <div class="w-full mx-auto max-w-screen-xl p-4 flex flex-col items-center sm:flex-row sm:justify-between">

    <span class="text-sm text-gray-400 sm:text-center">© 2024. All Rights Reserved</span>
    <ul class="flex mt-3 text-sm font-medium text-gray-500 sm:mt-0 2xl:hidden ">

      <SocialMedia href="https://linkedin.com/in/tomasarreguib">
        <Linkedin class="w-7 h-auto" />
      </SocialMedia>

      <SocialMedia href="https://github.com/noisyBrain">
        <Github class="w-7 h-auto" />
      </SocialMedia>

    <!--   - TODO: add redirection to gmail - -->
      <SocialMedia href="#">
        <Gmail class="w-7 h-auto" />
      </SocialMedia>

      <SocialMedia href="https://www.youtube.com/@scriptcrafter">
        <Youtube class="w-7 h-auto" />
      </SocialMedia>

    </ul>
  </div>
</footer>
