---
import SocialMedia from './SocialMedia.astro'

import Github from '../icons/Github.astro'
import Gmail from '../icons/Gmail.astro'
import Linkedin from '../icons/Linkedin.astro'
import Youtube from '../icons/Youtube.astro'
---

<header>
  <nav class="
    flex
    md:justify-between
    lg:fixed
    lg:flex-col
    lg:justify-start
    lg:items-center
    lg:w-64 lg:h-screen">

    <img
      class="rounded-full size-36 md:size-48 lg:size-52"
      src="/profile_picture.jpg"
    />

    <div class="
      nav-links
      hidden
      bg-gradient-to-b from-[#000] via-[#0f0f3d] to-black
      flex absolute right-0 top-0
      items-center justify-center
      min-h-full pr-10
      w-full
      md:min-h-fit
      md:flex
      md:bg-transparent
      md:static
      lg:justify-start
      lg:pr-0 lg:mt-20"
      >
      <ul class="
          flex flex-col md:items-center
          uppercase
          gap-4
          md:flex-row md:gap-8
          lg:flex-col lg:items-center lg:w-full
          lg:gap-8">
        <li><a class="hover:text-white/70" href="/">Home</a></li>
        <li><a class="hover:text-white/70" href="/about">About</a></li>
        <li><a class="hover:text-white/70" href="/projects">Projects</a></li>
        <li><a class="hover:text-white/70" href="/experience">Experience</a></li>
      </ul>
    </div>

    <div class="flex absolute right-10 top-16 md:hidden">
      <ion-icon class="size-12 cursor-pointer" name="menu-outline"></ion-icon>
    </div>
  </nav>

    <SocialMedia href="https://www.youtube.com/@scriptcrafter" target="_blank">
      <Youtube class="w-6 h-auto" />
    </SocialMedia>
  </section>
</header>
