---
import SocialMedia from './SocialMedia.astro'

import Github from '../icons/Github.astro'
import Gmail from '../icons/Gmail.astro'
import Linkedin from '../icons/Linkedin.astro'
import Youtube from '../icons/Youtube.astro'
---

<header class="fixed flex flex-col mt-20 items-center">
  <img
    class="rounded-full size-52"
    src="/profile_picture.jpg"
  />
  <nav class="w-28 h-auto mt-16 pl-6 uppercase">
    <ul class="flex flex-col gap-4 size-32">
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/experience">Experience</a></li>
    </ul>
  </nav>

  <section class="flex gap-6 mt-64 ml-10 items-center justify-center">
    <SocialMedia href="https://linkedin.com/in/tomasarreguib">
      <Linkedin class="w-6 h-auto" />
    </SocialMedia>

    <SocialMedia href="https://github.com/noisyBrain">
      <Github class="w-6 h-auto" />
    </SocialMedia>

    <!--- TODO: add redirection to gmail --->
    <SocialMedia href="#" target="blank">
      <Gmail class="w-6 h-auto" />
    </SocialMedia>

    <SocialMedia href="https://www.youtube.com/@scriptcrafter" target="_blank">
      <Youtube class="w-6 h-auto" />
    </SocialMedia>
  </section>
</header>
