---
import SocialMedia from './SocialMedia.astro'

import Github from '../icons/Github.astro'
import Gmail from '../icons/Gmail.astro'
import Linkedin from '../icons/Linkedin.astro'
import Youtube from '../icons/Youtube.astro'
---

<header>
  <nav class="
    flex
    md:justify-between
    2xl:fixed
    2xl:flex-col
    2xl:justify-start
    2xl:items-center">

    <img
      class="rounded-full size-36 md:size-48 lg:size-52"
      src="/profile_picture.jpg"
    />

    <div class="
      hidden
      flex absolute right-0 top-0
      items-center justify-center
      md:flex
      md:bg-transparent
      md:static
      2xl:justify-start 2xl:mt-20"
      >
      <ul class="
          flex flex-col xl:items-center
          uppercase
          gap-4
          md:flex-row md:gap-8
          2xl:flex-col 2xl:items-center 2xl:w-full
          lg:gap-8">
        <li><a class="hover:text-white/70" href="/">Home</a></li>
        <li><a class="hover:text-white/70" href="/about">About</a></li>
        <li><a class="hover:text-white/70" href="/projects">Projects</a></li>
        <li><a class="hover:text-white/70" href="/experience">Experience</a></li>
      </ul>
    </div>

    <section class="hidden 2xl:flex 2xl:gap-6 2xl:mt-28">
      <SocialMedia href="https://linkedin.com/in/tomasarreguib">
        <Linkedin class="w-6 h-auto" />
      </SocialMedia>

      <SocialMedia href="https://github.com/noisyBrain">
        <Github class="w-6 h-auto" />
      </SocialMedia>

    <!--   - TODO: add redirection to gmail - -->
      <SocialMedia href="#" target="blank">
        <Gmail class="w-6 h-auto" />
      </SocialMedia>

      <SocialMedia href="https://www.youtube.com/@scriptcrafter" target="_blank">
        <Youtube class="w-6 h-auto" />
      </SocialMedia>
    </section>
  </nav>
</header>
