<a class={`size-16 flex items-center justify-center rounded-full transition duration-300 ease-in-out ${Astro.props.class}`} href={Astro.props.href} target="_blank" rel="noopener noreferrer">
  <slot />
</a>
