---
import Header from '../components/Header.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
  <body class="bg-gradient-to-b from-blue-800 via-blue-950 to-black">
    <div class="h-screen flex">
      <Header />
      <h1 class="text-4xl font-bold">Tomás Arregui Bellino</h1>
      <slot />
    </div>
	</body>
</html>
<style is:global>
	:root {
    color-scheme: dark
  }

	html {
		font-family: system-ui, sans-serif;
	}

  body {
    display: flex;
  }
</style>
